footer {
    background-color: $dark-color;
  }  
  
  
  footer h6 {
    color: $white-color;
    text-align: center;
  }
  
  footer figure {
    color: aliceblue;
  }
  .iconos{
    color: $white-color;
    padding: 15px;
  }
  .iconos__cont{
    display: flex;
    justify-content: center;
  }