/*.flex{
  display: flex;
  text-align: justify;
  padding: 40px;
  font-size: 150%;
}*/
  .textft{
    font-size: 140%;
    padding: 30px;
    text-align: justify;
  }
  @mixin texto_inicio{
    display: flex;
    text-align: justify;
    padding: 40px;
    font-size: 150%;
  }