.titulo__nos{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-decoration: underline;
    font-style: italic;
  }
  .grid__item__impar {
    width: 100%;
    height: 400px;
    border: 3px solid $dark-color;
    border-radius: 15px;
    overflow: hidden;
  }
  .imagenes__inicioft {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
  }
  .grid__item__impar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .iconos {
    display: flex;
    justify-content: center;
  }
  .main1 {
    display: flex;
    padding: 40px;
  }
  
  .mainp1 {
    @include texto_inicio;
  }
  .titulop{
    padding: 20px;
    text-decoration: underline;
    font-style: italic;
    display: flex;
    justify-content: center;
  }
  .barrart {
    padding: 20px;
    color: $dark-color;
    text-decoration: dotted;
    padding-bottom: 10px;
    font-size: 120%;
    text-align: justify;
  }
  .frase {
    font-size: 250%;
    display: flex;
    justify-content: center;
    font-family: "Architects Daughter", cursive;
    font-style: italic;
    padding-bottom: 50px;
  }